__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.external_data/
.vscode/
.idea/
.pytest_cache/
.pytest-tmp/
.test-work/
.debug_manual/
.debug_manual2/
.test-install-pkg/
.mypy_cache/
*.egg-info/
build/
dist/
pytest-cache-files-*/
Thumbs.db
.DS_Store
*.log
*.tmp
*.zip
*.7z
*.tar.gz
*.pth
*.pt
*.pkl
*.xlsx
*.pptx
